.magazine-container {
    position: relative;
    top: 0;
    width: 96%;
    height: 30vh;
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    left: 1.5%;
    border: none;
}

/* dark mode */
.magazine-dark {
    background-color: var(--clr-element-dark-container);
}

.magazine-dark:hover {
    background-color: #4d4a48;
}

/* light mode */
.magazine-light {
    background-color: var(--clr-container-gray);
}

.magazine-light:hover {
    background-color: #c3c3c4;
}

.magazine-container p {
    margin-bottom: 6px;  
  }